apiVersion: v1
kind: Service
metadata:
  name: notification-service
  labels:
    app: notification-service
spec:
  ports:
  - name: http
    port: 3002
    protocol: TCP
    targetPort: http
  selector:
    app: notification-service
  type: ClusterIP
